/** Общие **/

#page.page_bg {background: #fff;}

#content.content_1024 {
	min-width: 1024px
}

.small_block_padding .block {
	padding-left: 40px;
}

.big_file_names .file a {
	font-size: 15px;
}

.clear_both {clear: both;}

.navigation_medium a {
	color: #b8c4cd;
	font-family: 'DINPro-Regular';
}

.navigation_medium a:hover {
	/*color: #b8c4cd;*/
	font-family: 'DINPro-Regular';
}
.navigation_medium li {
	margin-bottom: 40px;
}

.navigation li.with_icon.enterprises:after{
    background-position: center -262px;
}

.top_menu.top_menu_big {
	font-size: 16px;
	margin-bottom: 21px;
}

.top_menu.top_menu_gray .item.selected {
	background: #d4dbe2;
}

.top_menu.top_menu_gray .item.selected b {
	color: #000;
}

#footer.footer_small {
	height: auto;
}

.footer_small #footer-content {
	background: none;
}

.footer_small .footer-nav {
	top: 34px;
}
#footer.footer_small .company-name {
	margin-bottom: 0;
}
.footer_small .footer-nav .next {
	padding-right: 25px;
}

.block.most_higher {
	padding-top: 20px;
}

.managment_circle_photo .item .image {
	width: 115px;
	height: 115px;
	border-radius: 100px;
	overflow: hidden;
}

.managment_circle_photo .item .image img {
	max-width: auto;
	width: 100%;
	border-radius: none;
}

.sub_filter_enterprises .item span.pseudo {
	font-size: 15px;
}

.sub_filter_enterprises .item span.item_category {
	font-size: 15px;
	color: #7d8e9d;
}

.sub_menu.sub_menu_small_margin {
	margin-bottom: 25px;
}

/**Предприятия**/

.gray-link {
	color: #7d8e9d;
    border-bottom: 1px dotted rgba(125, 142, 157, 0.3);
    cursor: pointer;
}

.gray-link:hover {
	color: #dd0103;
    border-bottom: 1px dotted rgba(221, 1, 3, 0.3);
}

.enterprises_search_block {
}

.search_field_enterprises input[type="text"] {
	width: 357px;
}

.search_field_enterprises{
	float: left;
	margin-right: 30px;
	position: relative;
}

.search_field_enterprises .field button {
	position: absolute;
	right: -3px;
	top: 0;
}

.select_field_enterprises {
	float: left;
}

.switch_enterprises {
	margin-top: 35px;
}

.switch_enterprises__name, .list_enterprises .item__name {
	float: left;
	width: 69%;
	margin-right: 6%;
}

.switch_enterprises__city, .list_enterprises .item__city {
	float: left;
	width: 25%;
}

.switch_enterprises span {
    font-size: 15px;
}

.list_enterprises {
	padding-bottom: 65px;
	overflow: hidden;
}

.list_enterprises .item {
	margin-top: 40px;
	clear: both;
	overflow: hidden;
}
.list_enterprises .item__name {

}
.list_enterprises .item__name .title {

}
.list_enterprises .item__name .title a {
	font-size: 18px;
	color: #000;
}
.list_enterprises .item__name .title a:hover {
	color: #dd0103;
	border-color: rgba(221, 1, 3, 0.3);
}
.list_enterprises .item__name .category {
	margin-top: 4px;
}
.list_enterprises .item__name .category span {
	font-size: 15px;
	color: #a2afb9;
}
.list_enterprises .item__city {

}
.list_enterprises .item__city span {
    font-size: 18px;
    line-height: 1.5;
}

.switch_block {
	float: left;
	padding-right: 15px;
	/*background: url(/images/sort-marker.png) no-repeat right 7px;*/
}
.switch_block_current_down {
	background: url(/images/sort-marker.png) no-repeat right 7px;
}

.switch_block_current_up {
	background: url(/images/sort-marker.png) no-repeat right -8px;
}

/** Предприятия на карте **/

.enterprises_map_block {

}

.enterprise_ballon {
	width: 250px;
	text-align: left;
	margin: 15px 15px;
	font-size: 15px;
	line-height: 1.5;
}

.enterprise_ballon .ballon__name {

}

.enterprise_ballon .ballon__name a {
	color: #000;
	font-weight: bold;
}

.enterprise_ballon .ballon__name a:hover {
	color: #dd0103;
}

.enterprise_ballon .ballon__category {
	margin-top: 3px;
}

.enterprise_ballon .ballon__category span {
	color: #727f89;
}

.enterprise_ballon .ballon__address {
	margin-top: 12px;
}

.enterprise_ballon .ballon__address span {

}

.enterprise_ballon .ballon__phone {
	margin-top: 3px;
}

.enterprise_ballon .ballon__phone span {

}

.enterprise_ballon .ballon__email {
	margin-top: 3px;
}

.enterprise_ballon .ballon__email a {
	color: #597185;
}

.enterprise_ballon .ballon__email a:hover {
	color: #dd0103;
}

.enterprise_ballon .ballon__site {
	margin-top: 3px;
}

.enterprise_ballon .ballon__site a {
	color: #597185;
}

.enterprise_ballon .ballon__site a:hover {
	color: #dd0103;
}

.enterprise_ballon .ballon__site a + a {
	border: none;
}

/** Предприятие - детальная **/

.header_link a {
	font-size: 14px;
	color: #597185;

}

.management_enterprise {
	margin-bottom: 50px;
}

.management_enterprise .item {
	overflow: hidden;
}

.management_enterprise .item:after {
	display: none !important;
}

.management_enterprise .item .text {
	padding-top: 4px;
}

.management_enterprise .item .dolgnost {
	font-family: DINPro-Bold;
	margin-bottom: 15px;
}

.management_enterprise .item .name {
	font-size: 18px;
}

.management_enterprise .item .lid {
	color: #8c97a0;
}

.enterprise_specialization {
	margin-bottom: 50px;
}

.enterprise_description {
	/*margin-bottom: 50px;*/
}

.enterprise_description h6 {
	margin-bottom: 20px;
}

.enterprise_logo {

}

.enterprise_logo img {
	
}

.enterprise_contacts {

}

.enterprise_contacts p, a {
	font-size: 15px;
}

.enterprise_contacts a {
	color: #597185;
}

.enterprise_contacts a:hover {
	color: #dd0103;
}

.enterprise_contacts h6 {

}

.enterprise_contacts__address {
	padding-top: 5px;
	padding-bottom: 15px;
}
.enterprise_contacts__address p {
	
}

.enterprise_contacts__phone {

}
.enterprise_contacts__phone p {

}

.enterprise_contacts__email {
	margin-top: 2px;
}
.enterprise_contacts__email a {

}

.enterprise_contacts__site {
	margin-top: 2px;
}
.enterprise_contacts__site a {}